{% load static  %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'icons/favicon.ico' %}">
  <title>Bee Project</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'style/wireframe.css' %}">
</head>

<body class="bg-warning">

  {% if form.errors%}
<script src="{% static 'js/slim_notifier.js' %}"></script>
    <script>

        SlimNotifierJs.notification('error', 'Error', 'Tu correo o contraseña son incorrectos', 3000);
    </script>


{% endif %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block" src="{% static 'icons/bee.png' %}" style=""></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="" >&nbsp;Bee&nbsp;Project</h1>
        </div>
      </div> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav ml-auto">
     <!--      <li class="nav-item" style=""> <a class="nav-link" href="/Instructions/">Instructions</a> </li> -->
          <li class="nav-item"> 
            <a class="nav-link" href="/aboutus/">About us</a> </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center my-3">Bienvenido a Bee Project !</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
               <form id="c_form-h" enctype="multipart/form-data" action="" method="post"> {% csrf_token %}
              <h3 class="text-left" >User :</h3>
            </div>
            <div class="col-md-6">
              <div class="form-group text-center ">{{form.username}}</div>
            </div>
            <div class="col-md-6">
              <h3 class="text-left">Password :</h3>
            </div>
            <div class="col-md-6">
              <div class="form-group text-center ">{{form.password}}</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group"></div>
            </div>
            <div class="col-md-6 text-center">
              <button class="btn btn-primary align-items-center mb-3 w-50">Login</button>
            </div>
            </form>
          </div>
        </div>
        <div class="col-md-6" style="">
          <p class="text-justify my-0" style="">"Bee project" es un proyecto en desarrollo que se encarga del monitoreo y supervisión de colmenas de abejas, el cual su función es ayudar a los apicultores con métodos modernos de supervisión.Agradecemos el apoyo del Centro experimental Wayllapampa de la universidad Nacional San Cristóbal de Huamanga el cual nos permitió el desarrollo inicial de este proyecto y fueron nuestra inspiración para dar el gran paso a la modernización del sector apicola .</p>

        </div>
      </div>
    </div>
  </div>
  <div class="bg-warning py-2 w-100 h-25" style=""></div>
  <div class="py-0 bg-dark" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
        
          
           <p class="mb-0 py-1"  >Desarrollado por : <a style="color:#ffc107;" href="https://www.linkedin.com/in/fabio-jeri-alejos-0340b914a/">Fabio Jeri</a><i class="fa fa-fw fa-1x py-1 fa-linkedin-square"></i><br>&nbsp;&amp; <a style="color:#ffc107;" href="https://www.linkedin.com/in/samuel-eugenio-garc%C3%ADa-c%C3%A1rdenas-75aa93199">Samuel García</a> <i class="fa fa-fw fa-1x py-1 fa-linkedin-square"></i></p>
        </div>
      </div>
    </div>
  </div>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
</body>

</html>