#vtoasts-holder {
    position: fixed;
    top: 0;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.vtoasts-toast {
    padding: 1rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 1.5rem #999;
    color: #fff;
    opacity: 0.8;
    /* cursor: pointer; */
    will-change: transform;
}

/* Responsive Design */
@media (max-width: 320px) {
    #vtoasts-holder {
        padding: 8px 8px 8px 50px;
        width: 10em;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #vtoasts-holder {
        padding: 8px 8px 8px 50px;
        width: 13em;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #vtoasts-holder {
        padding: 8px 8px 8px 50px;
        width: 16em;
    }
}

@media (min-width: 768px) {
    #vtoasts-holder {
        padding: 15px 15px 15px 50px;
        width: 20em;
    }
}

/* Animation stuff */
.vtoasts-slideIn {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: vtoastsSlideIn;
}

.vtoasts-slideOut {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-name: vtoastsSlideOut;
    animation-fill-mode: forwards;
}

@keyframes vtoastsSlideIn {
    from {
        transform: translateX(400px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.8;
    }
}

@keyframes vtoastsSlideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(400px);
        opacity: 0;
    }
}

/* Inside the toast */
.vtoast-icon {
    display: inline-block;
}

.vtoast-title {
    font-size: 1.5rem;
    display: inline-block;
}

.vtoast-content {
    display: block;
}

/* Toast default types */
.vtoast-success {
    background-color: #51a351;
}

.vtoast-info {
    background-color: #2f96b4;
}

.vtoast-warn {
    background-color: #f89406;
}

.vtoast-error {
    background-color: #bd362f;
}
