{% load static  %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'icons/favicon.ico' %}">
  <title>Bee Project</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'style/wireframe.css' %}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block" src="{% static 'icons/bee.png' %}" style=""></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="">&nbsp;Bee&nbsp;Project</h1>
        </div>
      </div> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/bee_project/" >Inicio</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/instructions/">Instrucciones</a> </li>
           <li class="nav-item"> <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1EVDNFoPq_gCNzC7xvCuRJCKbj0vgma_kFK7uiFhdPZc/edit?usp=sharing">Base de datos</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/about_us/">About us</a> </li>
          <li class="nav-item"><a class="btn navbar-btn ml-md-2 btn-secondary" href="/accounts/logout/">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-warning">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">

          <h1 class="text-center my-3" style=""  >Colmenas del Centro Experimental Wayllapampa</h1>
          <p class="lead text-muted">Bienvenido&nbsp; {{usuario}}</p>

          <div class="row">

            <div class="col-md-4 text-left">
              <h4 class="">Temperatura Exterior&nbsp; °C :</h4>
              <h1 class="">{{col_s_1.t_ext}}&nbsp;</h1>
        <!--       <h3 class="text-left">Actualizado :</h3>
              <h5 class="text-left"   style="">{{fecha}}</h5> -->
            <!--   <div class="col-md-12">
              </div> -->
            </div>
            <div class="col-md-4 text-left">
              <h4 class="">Clima:</h4>
              <h1 class="">{{col_s_1.clima}}&nbsp;</h1>
            </div>
 <div class="col-md-4 text-left">


              <h4 class=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><a class="" href="/historial/error/">&nbsp;Emergencias:</a></h4>
              <h1 class="">&nbsp;&nbsp;&nbsp;{{error}} </h1>
        <!--       <h3 class="text-left">Actualizado :</h3>
              <h5 class="text-left"   style="">{{fecha}}</h5> -->
            <!--   <div class="col-md-12">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 bg-light" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hive.png' %}">
            <div class="card-body">
              <h1   style="" class="text-center">Colmena 1</h1>
              <div class="row">
                  <div class="col-md-12">
                  <h3 class=""   style="">Actualizado :</h3>
                  <h5 class="">{{col_s_1.fecha}}</h5>
                </div>
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura :</h3>
                  <h5 class="">{{col_s_1.t_int}} °C </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Humedad :</h3>
                  <h5 class="">{{col_s_1.humedad}} % </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="" style="">Peso :</h3>
                  <h5 class="">{{col_s_1.peso}} Kg </h5>
                </div>
              </div>
             <!--  <div class="row">
                <div class="col-md-12">
                  <h3 class="">Población& :</h3>
                  <h5 class="">{{col_s_1.poblacion}}</h5>
                </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Comida :</h3>
                  <h5 class="">{{comida_1}}</h5>


                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Piquera :</h3>
                  <h5 class="">{{col_s_1.piquera}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Revisado :</h3>
                  <h5 class="">{{revision_1.fecha}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hive.png' %}">
            <div class="card-body">
              <h1 class="text-center">Colmena 2</h1>
              <div class="row">

                  <div class="col-md-12">
                  <h3 class=""   style="">Actualizado :</h3>
                  <h5 class="">{{col_s_2.fecha}}</h5>
                </div>
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura :</h3>
                  <h5 class="">{{col_s_2.t_int}} °C </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Humedad :</h3>
                  <h5 class="">{{col_s_2.humedad}} %</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="" style="">Peso :</h3>
                  <h5 class="">{{col_s_2.peso}} Kg </h5>
                </div>
              </div>
<!--               <div class="row">
                <div class="col-md-12">
                  <h3 class="">Población :</h3>
                  <h5 class="">{{col_s_2.poblacion}}</h5>
                </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Comida :</h3>
                  <h5 class="">{{col_s_2.comida}} %</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Piquera :</h3>
                  <h5 class="">{{col_s_2.piquera}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Revisado :</h3>
                  <h5 class="">{{revision_2.fecha}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!--  <div class="row">
        <div class="col-md-6 p-3">
          <div class="col-md-12 p-3">
            <div class="card box-shadow">
              <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hive.png' %}">
              <div class="card-body">
                <h1 class="text-center">Colmena 3</h1>
                <div class="row">

                  <div class="col-md-12">
                  <h3 class=""   style="">Actualizado :</h3>
                  <h5 class="">{{col_s_3.fecha}}</h5>
                </div>
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura :</h3>
                  <h5 class="">{{col_s_3.t_int}} °C</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Humedad :</h3>
                  <h5 class="">{{col_s_3.humedad}} %</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="" style="">Peso :</h3>
                  <h5 class="">{{col_s_3.peso}} Kg</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Población :</h3>
                  <h5 class="">{{col_s_3.poblacion}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Comida :</h3>
                  <h5 class="">{{col_s_3.comida}} %</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Piquera :</h3>
                  <h5 class="">{{col_s_3.piquera}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Reina :</h3>
                  <h5 class="">{{col_s_3.reina}}</h5>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
     <!--    <div class="col-md-6 p-3"></div>
      </div> -->
      <div class="row">
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hiveblack.png' %}">
            <div class="card-body">
              <h1 class="text-center">Colmena no supervisada 1</h1>
              <div class="row">
                  <div class="col-md-12">
                 <h3 class=""   style="">Actualizado :</h3>
                  <h5 class="">{{col_n_1.fecha}}</h5>
                </div>
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura :</h3>
                  <h5 class="">{{col_n_1.t_int}} °C</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hiveblack.png' %}">
            <div class="card-body">
              <h1 class="text-center">Colmena no supervisada 2</h1>
              <div class="row">
                               <div class="col-md-12">
                  <h3 class=""   style="">Actualizado :</h3>
                  <h5 class="">{{col_n_2.fecha}}</h5>
                </div>
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura :</h3>
                  <h5 class="">{{col_n_2.t_int}} °C</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0 bg-dark">
    <div class="container">
      <div class="row">
         <div class="col-md-12 text-right">


           <p class="mb-0 py-1"  >Desarrollado por : <a style="color:#ffc107;" href="https://www.linkedin.com/in/fabio-jeri-alejos-0340b914a/">Fabio Jeri</a><i class="fa fa-fw fa-1x py-1 fa-linkedin-square"></i><br>&nbsp;&amp; <a style="color:#ffc107;" href="https://www.linkedin.com/in/samuel-eugenio-garc%C3%ADa-c%C3%A1rdenas-75aa93199">Samuel García</a> <i class="fa fa-fw fa-1x py-1 fa-linkedin-square"></i></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
