{% load static  %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="{% static 'icons/favicon.ico' %}">
  <title>Bee Project</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'style/wireframe.css' %}">
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block" src="{% static 'icons/bee.png' %}" style=""></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="">&nbsp;Bee&nbsp;Project</h1>
        </div>
      </div> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/" >Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/Instructions/">Instructions</a> </li>
          <li class="nav-item"> <a class="nav-link" href="about_us/">About us</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-warning">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-center my-3" style=""  >Colmenas del Centro Experimental Wayllapampa</h1>
          <p class="lead text-muted">Bienvenido&nbsp; {{usuario}}</p>
          <div class="row">
            <div class="col-md-6 text-left">
              <h4 class="">Temperatura Exterior&nbsp; °C :</h4>
              <h1 class="">{{dato1}}&nbsp;</h1>
              <h3 class="text-left">Actualizado :</h3>
              <h5 class="text-left"   style="">{{fecha}}</h5>
              <div class="col-md-12">
              </div>
            </div>
            <div class="col-md-6 text-left">
              <h4 class="">Clima:</h4>
              <h1 class="">{{clima}}&nbsp;</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 bg-light" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hive.png' %}">
            <div class="card-body">
              <h1   style="" class="text-center">Colmena 1</h1>
              <div class="row">
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura&nbsp;°C :</h3>
                  <h5 class="">{{dato2}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Humedad % :</h3>
                  <h5 class="">{{dato3}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="" style="">Peso Kg :</h3>
                  <h5 class="">{{dato4}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Población&nbsp; :</h3>
                  <h5 class="">{{dato5}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Comida %&nbsp; :</h3>
                  <h5 class="">{{dato6}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Piquera :</h3>
                  <h5 class="">{{dato7}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Reina :</h3>
                  <h5 class="">{{dato8}}</h5>
                </div>
              </div>
            </div><a class="btn btn-primary"  id="download_form_file" href="{% static 'db/colmena1.sqlite3' %}"><i class="fa fa-download fa-fw"></i>&nbsp;Descargar</a>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hive.png' %}">
            <div class="card-body">
              <h1 class="text-center">Colmena 2</h1>
              <div class="row">
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura&nbsp;°C :</h3>
                  <h5 class="">{{dato9}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Humedad % :</h3>
                  <h5 class="">{{dato10}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="" style="">Peso Kg :</h3>
                  <h5 class="">{{dato11}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Población&nbsp; :</h3>
                  <h5 class="">{{dato12}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Comida %&nbsp; :</h3>
                  <h5 class="">{{dato13}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Piquera :</h3>
                  <h5 class="">{{dato14}}</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="">Reina :</h3>
                  <h5 class="">{{dato15}}</h5>
                </div>
              </div>
            </div><a class="btn btn-primary" href="{% static 'db/colmena2.sqlite3' %}"><i class="fa fa-download fa-fw"></i>&nbsp;Descargar</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <div class="col-md-12 p-3">
            <div class="card box-shadow">
              <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hive.png' %}">
              <div class="card-body">
                <h1 class="text-center">Colmena 3</h1>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class=""   style="">Temperatura&nbsp;°C :</h3>
                    <h5 class="">{{dato16}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="">Humedad % :</h3>
                    <h5 class="">{{dato17}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="" style="">Peso Kg :</h3>
                    <h5 class="">{{dato18}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="">Población&nbsp; :</h3>
                    <h5 class="">{{dato19}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="">Comida %&nbsp; :</h3>
                    <h5 class="">{{dato20}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="">Piquera :</h3>
                    <h5 class="">{{dato21}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="">Reina :</h3>
                    <h5 class="">{{dato22}}</h5>
                  </div>
                </div>
              </div><a class="btn btn-primary" href="{% static 'db/colmena3.sqlite3' %}"><i class="fa fa-download fa-fw"></i>&nbsp;Descargar</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-3"></div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hiveblack.png' %}">
            <div class="card-body">
              <h1 class="text-center">Colmena no supervisada 1</h1>
              <div class="row">
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura&nbsp;°C :</h3>
                  <h5 class="">{{dato23}}</h5>
                </div>
              </div>
            </div><a class="btn btn-primary" href="{% static 'db/colmenaNo.sqlite3' %}"><i class="fa fa-download fa-fw"></i>&nbsp;Descargar</a>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="card box-shadow">
            <img class="card-img-top w-50 mx-auto" src="{% static 'icons/bee-hiveblack.png' %}">
            <div class="card-body">
              <h1 class="text-center">Colmena no supervisada 2</h1>
              <div class="row">
                <div class="col-md-12">
                  <h3 class=""   style="">Temperatura&nbsp;°C :</h3>
                  <h5 class="">{{dato24}}</h5>
                </div>
              </div>
            </div><a class="btn btn-primary" href="{% static 'db/colmenaNo.sqlite3' %}"><i class="fa fa-download fa-fw"></i>&nbsp;Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2020-2021 Bee Project . All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
